*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
    display: flex;
    gap: 40px;
}
#box{
    height:300px;
    width:300px;
    border-radius: 10px;
    background-color: grey;
    box-shadow: 10px 10px 10px white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    

}
#box h1{
    color: aliceblue;
    text-shadow: 0px 0px 20px red;

}
#box2{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background: conic-gradient(from 195deg, white,red,blue,black);
}