*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    padding: 20px;
    
}

@keyframes changeBackgroundColor {
    from{
        background-color: red;
    }
    to{
        background-color: white;
        border-radius: 50px;
    }
    
}
#box{
    height: 300px;
    width: 300px;
    background-color: red;
    border-radius: 10px;
    animation: changeBackgroundColor 5s infinite  forwards alternate;
}
