*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}
html,body{
    height: 100%;
    width: 100%;

    color: white;
    
}

@property --rotate{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotateGradient{
    from{
        -rotate:0deg;
    }
    to{
        --rotate:360deg;
    }
}

#main{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    

    
}
.card{
    height: 400px;
    width: 250px;
    /* background-color:crimson; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* text-align: center; */
    box-shadow: 0 0 60px rgb(255, 255, 0);
    padding-inline: 10px;
    padding-bottom: 10px;
    background:
    linear-gradient(rgb(0, 0, 0)) padding-box,
    conic-gradient(from var(--rotate),black,rgb(255, 255, 0),black,black) border-box;
    border: 5px solid transparent;
    animation: rotateGradient 5s;
    animation-iteration-count: infinite;



    
}
.card img{
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.card h2{
    font-size: 2rem;
    font-weight: 600;
}
.card p{
    font-size: 1.2rem;
}