*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
html,body{
    height: 100%;
    width: 100%;
    
}

body{
    background-color: black;
}

:root{
    --x:300px;
    --y:200px;
}

/* main{
    height: 300px;
    width: 300px;
    /* background-color: crimson; */
    /* background:linear-gradient(to right in oklab,red,blue,purple,orange,green,white,black); creates gradient linearly in one direct */
    /* border: 1px solid white; */
    /* background:radial-gradient(250px at 300px 300px,red,blue); creates gradient radially */


/* } */ 

main{
    height: 100%;
    width: 100%;

}
.box{
    height: 100%;
    width: 100%;
    background: radial-gradient(200px at var(--x) var(--y),rgb(255, 255, 255),rgb(0, 0, 0));
}