*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}
html,body{
    height: 100%;
    width: 100%;
    
}
:root{
    --x:200px;
    --y:200px;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    color: rgb(8, 243, 8);
    font-size: 2rem;
    font-weight: 500;
}
#spotlight{
    height: 100%;
    width: 100%;
    background:radial-gradient(350px at var(--x) var(--y),transparent,black);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    
}